.collapse {
  margin-right: 30px;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  margin: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  min-height: 0px !important;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 15px !important;
}
.collapse-content {
  padding: 0 !important;
  margin: 0 !important;
}
