/* width */
.tab_container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tab_container::-webkit-scrollbar-track {
  background: #e4e3e3;
  border-radius: 18px;
  margin-left: 9px;
}

/* Handle */
.tab_container::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 18px;
}

/* Handle on hover */
.tab_container::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}
